* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: var(--bg-1);
}
a {
  text-decoration: none;
  color: var(--light);
  font-weight: 500;
  transition: 200ms;
  cursor: pointer;

  &:hover {
    color: var(--accent-1);
  }

  &:active {
    color: var(--accent-2);
  }
}
.yellow {
  color: yellow;
}

.content {
  max-width: 1200px;
  margin: auto;
}
