:root {
    --accent-1: #50c0ee;
    --accent-2: #961d6e;
    --pink: #ffc0cb;
    --light: #efefef;
    --bg-1: #171321;
    --bg-2: #201d29;
    --dark: #191a21;
    --dark-soft: #282a36;
    --letter: #d5cfdf;
}
